.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #FFFFFF;
  margin-top: 0% !important;
  margin: 0%;
}

.two.columns {
  width: 16.25%;
}

.column,
.columns {
  margin-left: 0.5%;
}

.pretty_container {
  border-radius: 0px;
  background-color: #E6EEF0;
  border-color: #FFFFFF;
  margin:  2px;
  padding: 2px;
  position: relative;
}

.border_container {
  border-radius: 0px;
  background-color: #FFFFFF;
  margin:  2px;
  padding: 2px;
  position: relative;
  border-top: 25px solid #000066 !important;
  border-left: 25px solid #000066 !important;
  border-right: 25px solid #E57373 !important;
  border-bottom: 25px solid #E57373 !important;
}

.pretty_container_read {
  border-radius: 0px;
  background-color: #C2C8C8;
  margin: 1px;
  padding: 1px;
}

.pretty_container_two {
  border-radius: 0px;
  background-color: #000066;
  border-width: 1.5px;
  border-color: #FFFFFF;
  margin: 2px;
  padding: 2px;
  position: relative;
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.custom-tab {
    color:#586069;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 3px solid transparent !important;
    border-left: 0px !important;
    border-right: 0px !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    font-family: "Calibri Light", Calibri Light, sans-serif;
    display: flex !important;
    font-size: 18px;
    align-items: center;
    margin:  4px;
    justify-content: center;
}

.custom-tab--selected {
    color: black;
    border-bottom: 10px solid #E57373 !important;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}

.flex-display {
  display: flex;
}

.container-display {
  display: flex;
}

#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

#header {
  align-items: center;
}

#learn-more-button {
  text-align: center;
  height: 100%;
  padding: 0 20px;
  text-transform: none;
  font-size: 15px;
  float: right;
  margin-right: 10px;
  margin-top: 30px;
}
#title {
  text-align: center;
  color: white;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.bg-grey{
  background-color: #E4F2ED;
  border-radius: 10px;
}

#right-column {
  display: flex;
  flex-direction: column;
}

#wells {
  flex: 1;
}

#gas {
  flex: 1;
}

#aggregate_data {
  align-items: center;
}

#oil {
  flex: 1;
}

#water {
  flex: 1;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}

#pie_graph > div > div > svg:nth-child(3) > g.infolayer > g.legend {
  pointer-events: all;
  transform: translate(30px, 349px);
}
